name: Publish to PyPI

on:
  push:
    tags:
      - '[0-9]*.[0-9]*.[0-9]*' # Trigger only on tags like 2.1.6
      - '[0-9]*.[0-9]*.[0-9]*.post*' # Trigger only on tags like 2.1.6.post1

permissions:
  contents: read
  id-token: write # For PyPI Trusted Publishing

jobs:
  build-and-publish:
    name: Build and publish Python distribution
    runs-on: ubuntu-24.04

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.x"

    - name: Install build dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build

    - name: Build package
      run: python -m build

    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
