name: Unittest

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'
  workflow_dispatch:

jobs:
  test-py27:
    runs-on: ubuntu-24.04
    container: python:2.7
    services:
      redis:
        image: redis:6.2
        ports:
          - 6379:6379
      mongodb:
        image: mongo:5.0
        ports:
          - 27017:27017
    steps:
    - uses: actions/checkout@v4
    
    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install "pytest<5" mock pytest-cov
        pip install .[redis,memory,mongodb]
        
    - name: Test with pytest
      run: |
        python -m pytest app/

  test-py38:
    runs-on: ubuntu-24.04
    container: python:3.8
    services:
      redis:
        image: redis:6.2
        ports:
          - 6379:6379
      mongodb:
        image: mongo:5.0
        ports:
          - 27017:27017
    steps:
    - uses: actions/checkout@v4
    
    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install pytest pytest-cov
        pip install .[redis,memory,mongodb]
        
    - name: Test with pytest
      run: |
        python -m pytest app/
